h1{
    color: aquamarine;
    text-transform: uppercase;

}
paragraf-1 {
    color: cadetblue;
    font-size: 18px;
    font-family: Arial;

}
#header-1{
    background-color: antiquewhite;
    text-align: center;
}
input[type="text"] {
    border: 1px solid black;
}
   
